.hero-container > div{
    height: 100vh;
}
.hero-container{
    height: 100vh;
    display: flex;
    margin-left: 50px;
}
.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-container > h1{
    color: #58FC03;
    font-family: sans-serif;
    font-size: 58px;
    position: relative;
    margin-bottom: 0%;
    letter-spacing: 10px;   
}
.hero-img{
    border: 10px solid #D5FC03;
    height: 90vh;
    width:  90vh;
}
.heroimgdiv{
    display: flex;
    width: 100rem;
    justify-content: end;    
}
.logo-container > p{
    color: #FCA703;
    font-family: sans-serif;
    font-size: 32px;
    text-align: start;
    margin-top: 10px;
    display: flex;
    align-self: flex-start;
}
span{
    margin-left: 10px;
    color: black;
}
.features-container h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 30x;
    color: #58FC03;
    margin-top: 30px;
    margin-bottom: 0%;
    letter-spacing: 5px;
}
.hr{
    display: flex;
    justify-content: center;
    margin: 0%;
    padding: 0%;
}
.hr > div{
    width: 100px;
    color: #D5FC03;
    border: 3px solid #D5FC03;
    border-style:dashed;
    border-radius: 50%;
}
.features-container div{
    display: flex;
    justify-content: center;
}
.card{
    margin: 5%;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card-body > h5{
    color:#D5FC03;
}
.card-body > p{
    color: #FCA703;
}
.profile-pic > img{ 
    border: 5px solid #D5FC03;
    border-radius: 50%;
    margin-top: 50px;
}
.profile-pic{
    display: flex;
    justify-content: center;
}
#abt-developer > h2{
    text-align: center;
    margin-top: 50px;
    color: #58FC03;
    letter-spacing: 3px;
}
.name-title > h3{
    text-align: center;
    margin-top: 10px;
    color:#FCA703;
}
.def{
    display: flex;
    justify-content: center;
}
.def p{
    text-align: center;
    margin: 3%;
    color: #00191D;
    font-family: sans-serif;
    font-size: 20px;
}
.contact-me{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;   
}
.button{
    background-image: linear-gradient(to bottom, #FF9F00,#FFB233);
    border-radius: 8px; 
    color: white;
    padding: 10px 20px 10px 20px;
    border-style: hidden;
    margin-bottom: 20px;
}
footer{
    margin-top: 50px;
    height: 30vh;
    background-image: linear-gradient(#00FF22, #33FF4E);
}
footer div{
    display: flex;
    justify-content: center;
    margin: 2%;
}
a{
    cursor: pointer;
    margin-top: 10px;
    padding: 5px;
}
a > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;

}
@media (max-width: 500px){
    .logo-container > h1{
        color: #58FC03;
        font-family: sans-serif;
        font-size: 29px;
        position: relative;
        margin-bottom: 0%;
        letter-spacing: 5px;   
    }
    .hero-container{
        height: 100vh;
        width: 90vh;
        display: flex;
        flex-direction: column;
    }
    .heroimgdiv{
        display: flex;
        width: 45vh;
        justify-content: center; 
        margin: 0%;   
    }
    .hero-img{
        border: 10px solid #D5FC03;
        height: 45vh;
        width: 45vh;
        margin: 0%;
    }
    .logo-container > p{
        color: #FCA703;
        font-family: sans-serif;
        font-size: 32px;
        text-align: center;
        margin-top: 10px;
        display: flex;
        align-self: center;
    }
}